* {
    padding: 0;
    margin: 0;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1px;
    font-size: 26px;
    background: #282828;
}
a {
    color: red;
    text-decoration: none;
}
section {
    max-width: 1920px;
    margin: auto;
}
div {
    position: relative;
}
audio {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

/* Metal Gear Solid 5: The Phantom Pain */

.sectionCP77 {
    background: url(../img/bg/CP77KV.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 954px;
    margin: auto;
}
.sectionCP77::after {
    content:" ";
    background: url(../img/utility/bar1.png);
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.fieldCP77_Left {
    position: absolute;
    top: 0;
    left: 0;
}
.sectionCP77Container {
    position: absolute;
    top: 150px;
    left: /*1000px*/ 52.6%;
}
.sectionCP77VideoContainer::after {
    content: " ";
    background: url(../img/utility/Outline.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 520px;
    z-index: 5;
}
.spaceBetween {
    background: #000000;
    height: 200px;
    width: 100%;
}
.anotherSection {
    background: #b3ffd9;
    width: 100%;
    height: 954px;
}
.anotherSection::before {
    content:" ";
    background: url(../img/utility/bar1inv.png);
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fieldCP77_Right {
    position: absolute;
    right: 0;
    top: 0;
}
/*button {
    background: black;
    height: 250px;
}*/

