* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    letter-spacing: .2px;
    font-size: 26px;
    width: 100%;
    background: black;
    font-family: "Blender Pro";
}

section {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

div {
    position: relative;
}

audio {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #efe600;
}

/* */

header {
    background: #efe600;
    height: 955px;
    position: relative;
    overflow: hidden;
}

header::after {
    content: " ";
    background: url(../img/utility/bar1i.png);
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 2;
}

.headerContainer {
    margin: auto;
    max-width: 1920px;
}

.headerAwards {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 25px;
}

.headerRightField {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 190px
}

.headerRightFieldLinks {
    padding: 35px;
    font-size: 26px;
}

.headerRightFieldLinks li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

.headerCP77Wrapper {
    background: black;
    background: url(../img/bg/CP77KV.png);
    background-position: center;
    background-size: cover;
    height: 955px;
    max-width: 1920px;
    margin: auto;
    position: relative;
    z-index: 0;
}

.headerCP77VideoContainer {
    position: absolute;
    top: 152px;
    left: /*1000px*/
    52.6%;
}

.headerCP77VideoContainer::after {
    content: " ";
    background: url(../img/utility/Outline.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 520px;
    z-index: 4;
}

.headerUnderVideo {
    position: absolute;
    bottom: 250px;
    left: 55%;
    z-index: 1;
    display: grid;
    grid-template-rows: 50px 1fr 50px
}

.headerUnderVideoDate {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

#releaseDate {
    color: #fcf300;
    background: black;
    padding: 0 10px;
}

.headerUnderVideoButton {
    background: #ff003c;
    color: #fff;
    width: 400px;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 32px;
}

.headerUnderVideoButton span {
    position: relative;
    z-index: 2;
}

.headerUnderVideoButton::after {
    content: " ";
    background: url(../img/utility/AngleButton.png);
    height: 100px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.headerUnderVideoPlatforms {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.headerUnderVideoPlatforms li {
    padding: 0 10px;
    display: inline-block;
}

.active {
    display: none;
}

#beepingItem {
    background: #00ffff;
    display: block;
    width: 50px;
    height: 7px;
    position: absolute;
    bottom: 11px;
    left: 50px;
    z-index: 5;
}

#beepingItem::after {
    content: ' ';
    background: url(../img/utility/Angle.png);
    height: 10px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.spaceBetweenFirst {
    background: black;
    color: #00ffff;
    height: 250px;
    max-width: 1920px;
    margin: auto;
}

.swiper-container2 {
    width: 100%;
    height: 250px;
}

.reviewContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    width: 500px;
    text-align: center;
}

.rcT::after {
    content: " ";
    background: #00ffff;
    height: 2px;
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
}

.rcB {
    padding-top: 10px;
    font-size: 17px;
    font-weight: 700;
}

.sbsR {
    text-align: center;
    line-height: 250px;
}

.sbsR::after {
    content: " ";
    background: #00ffff;
    width: 175px;
    height: 3px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.introduction {
    background: url(../img/bg/CP77Intr.png);
    background-position: top;
    height: 750px;
    max-width: 1920px;
    margin: auto;
    position: relative;
}

.introduction::before {
    content: " ";
    background: url(../img/utility/bar2inv.png);
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.introduction::after {
    content: " ";
    background: url(../img/utility/bar3.png);
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.boxForIntroduction {
    background: #fcee0a;
    width: 500px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 25px 55px 25px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.boxForIntroduction::after {
    content: " ";
    background: url(../img/utility/bar5.png);
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -29px;
    left: 0;
}

.fieldForLabel {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 700;
}

.fieldForLabel::after {
    content: " ";
    background: url(../img/utility/bar4.png);
    width: 500px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.fieldForText {
    font-weight: 400;
    font-size: 16px;
    font-family: "Arial", monospace, sans-serif;
    line-height: 1.5;
}

#introductionP2 {
    position: absolute;
    bottom: 0;
    color: #fff;
    z-index: 2;
    font-size: 14px;
    padding: 0 10.66667vw 0;
    display: none;
    font-family: "Arial", monospace, sans-serif;
    line-height: 1.5;
}

.features {
    background: #000;
    max-width: 1400px;
    margin: auto;
}

.featuresWrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.featureBox {
    height: 250px;
}

.featureBoxWrapper p {
    color: #fff;
    font-weight: 200;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
}

/* Does not work otherwise */

.featureBoxWrapper:first-child .featureBox {
    background: url(../img/bg/Moto.png);
    background-position: left;
    background-size: initial;
    background-repeat: no-repeat;
}

.featureBoxWrapper:nth-child(2) .featureBox {
    background: url(../img/bg/City.png);
    background-position: left;
    background-size: initial;
    background-repeat: no-repeat;
}

.featureBoxWrapper:last-child .featureBox {
    background: url(../img/bg/KeanuReeves.png);
    background-position: left;
    background-size: initial;
    background-repeat: no-repeat;
}

/* Does not work otherwise */

.featureBoxText {
    background: yellow;
    width: 300px;
    position: absolute;
    bottom: 25px;
    right: 0;
    padding: 15px;
    text-transform: uppercase;
}

.sectionSpamContainer::before {
    content: " ";
    background: url(../img/utility/bar6.png);
    width: 100%;
    height: 49px;
    position: absolute;
    top: -1px;
    left: 0;
}

.sectionSpamContainer {
    background: #000;
    position: relative;
}

.sectionSpamContainer::after {
    content: " ";
    background: url(../img/utility/bar6inv.png);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.sectionSpamBox::before {
    content: " ";
    background: url(../img/utility/bar6.png);
    width: 100%;
    height: 49px;
    position: absolute;
    top: -1px;
    left: 0;
}

.sectionSpamBox {
    max-width: 2200px;
    margin: auto;
    background: #efe600;
}

.sectionSpam {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr 1fr;
    max-width: 1400px;
    margin: auto;
    padding: 50px 0 50px 0 !important;
}

.fieldLeftContainer {
    padding-top: 50px;
}

.inputBox {
    height: 80px;
}

.sectionSpam input[name="email"] {
    background: none;
    border: none;
    box-shadow: 0 2px 0 #000;
    font-size: 24px;
    width: 90%;
    padding: 5px 15px;
    position: absolute;
    top: 35px;
    left: 0;
    margin: auto;
    z-index: 1;
}

.moveable {
    transition: .5s;
    font-weight: 200;
}

.position {
    transition: .5s;
    transform: translate(55px, 35px) scale(1.5) !important;
    color: rgb(119, 119, 119);
    position: absolute;
    z-index: 1;
}

.checkboxBox {
    display: grid;
    grid-template-columns: 1fr 20fr;
}

.checkboxBox p {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

input#checkbox {
    align-self: baseline;
    background: none;
    border: none;
}

.fieldRightBox {
    padding-top: 50px;
}

button#buttonSubmit {
    background: url(../img/utility/Outline2.png);
    border: none;
    width: 250px;
    height: 75px;
    color: #908c06;
    font-family: 'Odibee Sans', cursive;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
}

/*button#buttonSubmit::after {
    content: " ";
    background: url(../img/utility/Outline2.png);
    height: 75px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}*/

.checkboxBox p {
    font-size: 16px;
    font-family: "Arial", monospace;
    letter-spacing: .1px;
    font-weight: 200;
    padding-right: 30px;
}

.checkboxBox a {
    text-decoration: underline;
}

.sectionGalery {
    background: black;
}

.sectionGaleryContainer {
    max-width: 1400px;
    margin: auto;
    display: grid;
    color: #efe600;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 6fr;
}

/* */

.sectionGaleryName {
    color: #efe600;
    font-size: 52px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
}

.sectionGaleryName h2::after {
    content: " ";
    background: url(../img/utility/underline.png);
    height: 10px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sectionGaleryName div {
    position: relative;
}

h2 {
    position: relative;
}

.sectionGaleryCategory {
    padding: 50px 0;
}

.categoriesContainer {
    margin: auto;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.categoriesContainer button {
    position: relative;
    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    background: #000;
    color: #cdcdcd;
    outline: none;
    cursor: pointer;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid #cdcdcd;
}

.categoriesContainer button:first-child i {
    background: #000;
    position: absolute;
    left: -18px;
    bottom: -9px;
    height: 20px;
    width: 30px;
    z-index: 3;
    transform: rotate(-135deg);
}

.categoriesContainer button:first-child:not(.activeB) i {
    position: absolute;
    left: -12px;
    bottom: -15px;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid #cdcdcd;
    background-color: #000;
    transform: rotate(-139deg);
}

.categoriesContainer button:last-child i {
    background: none;
    position: absolute;
    right: -22px;
    top: -23px;
    height: 35px;
    width: 25px;
    z-index: 3;
    background-color: #000;
    transform: rotate(45deg);
}

.categoriesContainer button:last-child:not(.activeB) i {
    position: absolute;
    right: -13px;
    top: -14px;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid #cdcdcd;
    background-color: #000;
    transform: rotate(45deg);
}

.activeB {
    background: #cdcdcd !important;
    outline: 1px solid #383838;
}

button.activeB span:nth-child(1) {
    color: black;
}

.categoriesContainer span {
    font-size: 16px;
    color: #cdcdcd;
    font-weight: 600;
    text-transform: uppercase;
}

.categoriesContainer button span:nth-child(2) {
    font-size: 10px;
    position: absolute;
    right: 20px;
    bottom: -5px;
    background: #000;
    padding: 0 10px;
}

.sectionGalerySlides {
    grid-area: 2/1/2/-1;
}

.swiper-container {
    height: 400px;
}

.buttonPrev, .buttonNext {
    background: url(../img/utility/Arrows.png);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 3;
    cursor: pointer;
}

.buttonPrev {
    background-position-x: left !important;
    left: 0;
}

.buttonNext {
    background-position-x: right !important;
    right: 0;
}

.sb1Container1, .sb1Container2, .sb1Container3, .sb2Container1, .sb2Container2, .sb2Container3, .sb3Container1 {
    height: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.sectionGalerySlides div {
    background-position: center;
}

/* ------------------------ BOX 1 CONTAINER 1 ------------------------ */

.sbMBox {
    grid-area: 1/1/3/1;
    background: url(../img/bg/CP77am.png);
}

.sliderBox1 .sb1Container1 div:nth-child(2) {
    background: url(../img/bg/CP77bc.png);
}

.sliderBox1 .sb1Container1 div:nth-child(3) {
    background: url(../img/bg/CP77cc.png);
}

.sliderBox1 .sb1Container1 div:nth-child(4) {
    background: url(../img/bg/CP77dc.png);
}

.sliderBox1 .sb1Container1 div:nth-child(5) {
    background: url(../img/bg/CP77ec.png);
}

/* ------------------------ BOX 1m CONTAINER ------------------------ */

#sgsBox1m {
    display: none;
}

#r23:not(.activeB) #sgsBox1m {
    display: none;
}

.sliderBox1m {
    height: 44vw;
}

.sliderBox1m .swiper-wrapper .swiper-slide img {
    width: 100%;
}

/* ------------------------ BOX 1 CONTAINER 2 ------------------------*/

.sliderBox1 .sb1Container2 .sbMBox {
    background: url(../img/bg/CP77fm.png);
}

.sliderBox1 .sb1Container2 div:nth-child(2) {
    background: url(../img/bg/CP77gc.png);
}

.sliderBox1 .sb1Container2 div:nth-child(3) {
    background: url(../img/bg/CP77hc.png);
}

.sliderBox1 .sb1Container2 div:nth-child(4) {
    background: url(../img/bg/CP77ic.png);
}

.sliderBox1 .sb1Container2 div:nth-child(5) {
    background: url(../img/bg/CP77jc.png);
}

/* ------------------------ BOX 1 CONTAINER 3 ------------------------ */

.sliderBox1 .sb1Container3 .sbMBox {
    background: url(../img/bg/CP77km.png);
}

.sliderBox1 .sb1Container3 div:nth-child(2) {
    background: url(../img/bg/CP77lc.png);
}

.sliderBox1 .sb1Container3 div:nth-child(3) {
    background: url(../img/bg/CP77mc.png);
}

.sliderBox1 .sb1Container3 div:nth-child(4) {
    background: url(../img/bg/CP77nc.png);
}

.sliderBox1 .sb1Container3 div:nth-child(5) {
    background: url(../img/bg/CP77oc.png);
}

/* ------------------------ BOX 2 CONTAINER 1 ------------------- */

.sliderBox2 .sb2Container1 .sbMBox {
    background: url(../img/bg/CP77tm.png);
}

.sliderBox2 .sb2Container1 div:nth-child(2) {
    background: url(../img/bg/CP77uc.png);
}

.sliderBox2 .sb2Container1 div:nth-child(3) {
    background: url(../img/bg/CP77vc.png);
}

.sliderBox2 .sb2Container1 div:nth-child(4) {
    background: url(../img/bg/CP77xc.png);
}

.sliderBox2 .sb2Container1 div:nth-child(5) {
    background: url(../img/bg/CP77yc.png);
}

/* ------------------------ BOX 2 CONTAINER 2 ------------------- */

#sgsBox2m {
    display: none !important;
}

.sliderBox2 .sb2Container2 .sbMBox {
    background: url(../img/bg/CP77zm.png);
}

.sliderBox2 .sb2Container2 div:nth-child(2) {
    background: url(../img/bg/CP77zac.png);
}

.sliderBox2 .sb2Container2 div:nth-child(3) {
    background: url(../img/bg/CP77zbc.png);
}

.sliderBox2 .sb2Container2 div:nth-child(4) {
    background: url(../img/bg/CP77zcc.png);
}

.sliderBox2 .sb2Container2 div:nth-child(5) {
    background: url(../img/bg/CP77zdc.png);
}

/* ------------------------ BOX 2 CONTAINER 3 ------------------- */

.sliderBox2 .sb2Container3 .sbMBox {
    background: url(../img/bg/CP77zem.png);
}

.sliderBox2 .sb2Container3 div:nth-child(2) {
    background: url(../img/bg/CP77zfc.png);
}

.sliderBox2 .sb2Container3 div:nth-child(3) {
    background: url(../img/bg/CP77zgc.png);
}

.sliderBox2 .sb2Container3 div:nth-child(4) {
    background: url(../img/bg/CP77zhc.png);
}

.sliderBox2 .sb2Container3 div:nth-child(5) {
    background: url(../img/bg/CP77zic.png);
}

/* ------------------------ BOX 2m CONTAINER ------------------------ */

.sliderBox2m .swiper-wrapper .swiper-slide:nth-child(2) {
    background: url(../img/bg/CP77tcm.png);
}

/* ------------------------ BOX 3 CONTAINER 1 ------------------------ */

.sliderBox3 .sbMBox {
    background: url(../img/bg/CP77pm.png);
}

.sliderBox3 div:nth-child(2) {
    background: url(../img/bg/CP77qc.png);
}

.sliderBox3 div:nth-child(3) {
    background: url(../img/bg/CP77rc.png);
}

.sliderBox3 div:nth-child(4) {
    background: url(../img/bg/CP77sc.png);
}

.hidden {
    display: none;
}

.sectionNewsContainer {
    max-width: 1400px;
    margin: auto;
    color: #cdcdcd;
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr;
    padding: 0 0 75px 0;
}

.sectionNewsTitle {
    color: #efe600;
    font-size: 52px;
    font-weight: 200;
    margin-top: 30px;
}

.sectionNewsTitle h2::after {
    content: " ";
    background: url(../img/utility/underline.png);
    height: 10px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sectionNewsBox {
    max-width: 1300px;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 25px;
}

.sectionNewsBox li:first-child {
    grid-area: 1/1/3/1;
}

.snMainBox {
    height: 100%;
    width: 100%;
    background: #02d7f2;
    box-sizing: border-box;
    padding: 0 30px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left
}

.snMainBox::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    border-color: #000000 transparent;
    border-style: solid;
    border-width: 19px 19px 0 0;
}

.snMainBox:hover {
    background: #fafafa;
}

.snMainBoxT {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.snMainBoxT::after {
    content: "";
    background: #000;
    height: 3px;
    width: 50px;
    position: absolute;
    top: 50px;
}

#snMDate {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 18px;
}

.snMainBox:hover #snMDate {
    display: none;
}

#replaceMDate, .replaceSDate {
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
}

.snMainBox:hover #replaceMDate {
    display: block;
}

.snMainBoxB {
    position: absolute;
    bottom: 50px;
    padding-left: 55px;
    width: 300px;
    font-size: 20px;
}

.snSecBox {
    background: #000;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 30px;
    color: #cdcdcd;
    font-weight: 100;
    border: 1px solid #cdcdcd;
}

.snSecBox:hover {
    background: #fafafa;
    color: #000;
}

.snSecBoxT {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
}

.snSecBoxT::after {
    content: " ";
    background: #cdcdcd;
    width: 50px;
    height: 3px;
    position: absolute;
    top: 50px;
}

.snSecBox:hover .snSecBoxT::after {
    background: #000;
}

.snSDate {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 18px;
}

.snSecBox:hover .snSDate {
    display: none;
}

.snSecBox:hover .replaceSDate {
    display: block;
}

/* * */

footer {
    background: #efe600;
    width: 100%;
    position: relative;
}

footer::before {
    content: " ";
    background: url(../img/utility/bar6f.png);
    width: 100%;
    height: 49px;
    position: absolute;
    top: -1px;
    left: 0;
}

#WTFm {
    display: none;
}

.fContentTop {
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr;
    padding: 75px 0 15px;
}

.fContentTop #firstUl {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 3fr;
    line-height: 32px;
}

.fContentTop ul li ul {
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr);
    grid-template-rows: 1fr;
}

.fContentTop ul li ul li {
    font-size: 32px;
}

.fContentTInfo {
    font-size: 16px;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.fContentB {
    max-width: 1100px;
    margin: auto;
    height: 350px;
    background: #000;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.fContentB::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    border-color: #efe600 transparent;
    border-style: solid;
    border-width: 19px 19px 0 0;
}

.fContentB ul {
    max-width: 500px;
    padding: 25px 0 0 0;
    margin: auto;
    color: #efe600;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px
}

.fContentB a {
    color: #fff;
    line-height: 105px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 16px;
}

.fContentB ul li a img {
    transform: translate(0, 35%);
}

.fContentBBox4Img {
    max-width: 60%;
    margin: auto;
}
#secondUl li:last-child {
    display: none;
}